.bvColoring {
    background-color: forestgreen;
    color: forestgreen;
}

.paColoring {
    background-color: orange;
    color: orange;
}

.copayColoring {
    background-color: blueviolet;
    color: blueviolet;
}

.papColoring {
    background-color: blue;
    color: blue;
}

.prColoring {
    background-color: black;
    color: black;
}