<div style="margin-left:10px">
  <p><span class="header">Filter Options</span></p>
  <hr>
  <p>
    <span class="header">
      Service Types: 
      <span class="bvColoring">{{dummy}}</span>  Benefits Verification   
      <span class="paColoring">{{dummy}}</span> Prior Authorization   
      <span class="copayColoring">{{dummy}}</span>  Copay   
      <span class="papColoring">{{dummy}}</span> PAP   
      <span class="prColoring">{{dummy}}</span> Prescription Referral
    </span>
  </p>

  <app-case-list></app-case-list>
</div>