<div style="margin-left:10px">
  <p><span class="header">Filter Options</span></p>
  <hr>
  <p>
    <span class="header">
      Service Types: 
      <span class="bvColoring" style="color:forestgreen">ooooo</span>  Benefits Verification   
      <span class="paColoring" style="color:orange">ooooo</span> Prior Authorization   
      <span class="copayColoring" style="color:blueviolet">ooooo</span>  Copay   
      <span class="papColoring" style="color:blue">ooooo</span> PAP   
      <span class="prColoring" style="color:black">ooooo</span> Prescription Referral
    </span>
  </p>

  <app-case-list></app-case-list>
</div>