<div class="row">
  <div class="col-sm-2">
    <table>
      <tr>
        <th class="title">Benefits Verification</th>
        <th class="value">{{bvTotal}}</th>
      </tr>
    </table>
  </div>
  <div class="col-sm-2">
    <table>
      <tr>
        <th class="title">Prior Authentication</th>
        <th class="value">{{paTotal}}</th>
      </tr>
    </table>
  </div>
  <div class="col-sm-2">
    <table>
      <tr>
        <th class="title">Prescription Referral</th>
        <th class="value">{{prTotal}}</th>
      </tr>
    </table>
  </div>
  <div class="col-sm-2">
    <table>
      <tr>
        <th class="title">PAP</th>
        <th class="value">{{papTotal}}</th>
      </tr>
    </table>
  </div>
  <div class="col-sm-2">
    <table>
      <tr>
        <th class="title">Copay</th>
        <th class="value">{{copayTotal}}</th>
      </tr>
    </table>
  </div>
</div>