.col-sm-2 { margin-left: 10 px;}

table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.title { 
    background-color: purple;
    width: 80%
}

.value { 
    background-color: plum;
    width: 20%;
}